p {
    font-size: 16px;
}

header {
    height: 350px;
    width: 80%;
    margin: auto;
}

.container {
    height: 1000px;
    line-height: 1.7;
    width: 80%;
    max-width: 100%;
    overflow: scroll;
}

.row-cols-4 {
    height: 150px;
}

/* Logo for wide screen and mobile devices */

img.logo {
    float: right;
    width: 250px;
    height: 150px;
}

@media only screen and (max-width: 600px) {
    img.logo {
        float: none;
        width: 160px;
        height: 96px;
    }

}

/* LOGO ARRANGEMENT AND ORDER */

.img-area {
    display: flex;
    float: right;
}

#firstImage {
    order: 1;
    height: 120px !important;
    position: relative;
    left: 221px;
}

#cooperation\ secondOne {
    order: 2;
    position: relative;
    top: 3px;
    left: 268px;
    width: 270px;
    font-weight: 700;
    font-size: 16px;
    color: darkgray;
    font-family: initial;
}

#secondImage {
    order: 3;
    position: relative;
    top: 20px;
}

@media only screen and (max-width: 990px) {
    .img-area {
        display: none;
    }
}

/* Logo editing end */


.col-md-12 {
    height: 100px;
}

/* NAVBAR EDITING */

nav {
    width: 100%;
    margin: auto;
    height: 65px;
    border: 1px solid rgba(169, 169, 169, .1);
    box-shadow: 1px 1px 1px darkgray;
    font-weight: 500;
}

/*Report Navigation stuff*/
/* only use hover effect if the width is > 990px*/
@media only screen and (min-width: 990px) {
    .dropdown-li:hover {
        background-color: aliceblue;
    }
}
/*--------------*/

/* NAVBAR CUSTOMIZATION FOR DIFFERENT DEVICES */
@media only screen and (max-width: 990px) {
    header {
        height: 450px;
    }

    /*Report Navigation stuff*/
    #dropdown-ul{
        background-color: rgb(250,250,250);
        width: 50%;
    }

    /*show nav in the foreground*/
    #navbarNav{
        z-index: 2;
    }
    /*--------------*/

    .navbar-collapse {
        background-color: #f8f9fa;
        margin: 20px 0 50px 0;
        box-shadow: 1px 1px 1px darkgray;
    }

    .navbar-collapse li {
        border: 1px solid rgba(169, 169, 169, .1);
        padding: 10px 10px;
        font-weight: 600;
    }

    .container-fluid {
        margin-top: 100px;
    }
}


footer {
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: rgba(169, 169, 169, .1);
    border: 1px solid rgba(169, 169, 169, .1);
    box-shadow: 1px 1px 1px darkgray;
}

/* STARTSEITE NACH LOGIN */

/* CSS FOR create_threatmatrix.html  */

.threatmatrix-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 100px;
}

.threatmatrix-table thead tr {
    border-bottom: 1px dashed grey;
}

.threatmatrix-table tfoot tr {
    border-bottom: 1px dashed grey;
}

.threatmatrix-table tbody tr {
    border-bottom: 1px solid black;
}

.threatmatrix-table thead tr td {
    font-size: 16px;
    letter-spacing: 1px;
    color: grey;
    padding: 8px;
}

.showQuestion1 {
    display: block;
}

.showQuestion {
    display: none;
    padding: 10px;
}

td a {
    text-decoration: none;
}

td a:hover {
    text-decoration: none;
}

/* WIDTH OF ELEMENTS */
.threatmatrix-select{
    width: 20%;
}

.threatmatrix-szenario{
    width:50%;
}