<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/layout_style.css}" href="/css/layout_style.css" rel="stylesheet">

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>WebBAKI</h2>

        <p>Herzlich Willkommen!</p>

        <div class="row" sec:authorize="!isAuthenticated()">
            <div class="col">
                <label for="customerRegister">Registrieren als User:</label>
                <a class="btn btn-outline-dark" id="customerRegister" type="button" th:href="@{/register/user}"><i
                        class="bi bi-arrow-right-square"></i></a>
            </div>
        </div>

        <div class="row" sec:authorize="!isAuthenticated()">
            <p> Schon registriert? <a th:href="@{/login}">Hier anmelden</a></p>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-outline-info" th:href="@{/account/user_details}">Mein Konto</a>
            <div class="startseite-frame">
                <div class="startseite" style="margin-top: 40px;">
                    <p style="line-height: 2; font-size:16px;font-weight: 500; font-family: sans-serif;">Cyber- und
                        Informationssicherheit betrifft Staat, Wirtschaft, Wissenschaft und Gesellschaft
                        gleichermaßen.</p>

                    <p style="line-height: 2; font-size:16px;font-weight: 500; font-family: sans-serif;">Diese Akteure
                        müssen
                        den verschiedensten Bedrohungen entgegenwirken. Zum Teil haben verschiedene Akteure gleichartige
                        Bedrohungen zu berücksichtigen, teilweise sind es spezifische Bedrohungen. Dieses kann auf der
                        Seite
                        der
                        Wirtschaft auch sektor- oder branchenspezifisch sein.</p>

                    <p style="line-height: 2; font-size:16px;font-weight: 500; font-family: sans-serif;">Der
                        Themenarbeitskreis
                        hat eine Bedrohungsmatrix entwickelt, die in den unterschiedlichen Sektoren mit Ihren Branchen
                        die
                        aktuelle Bedrohung darstellen und zur Diskussion (in den BAKs und mit dem TAK OpInAt) anregen
                        soll.
                        Diese Matrix soll auch dazu dienen, neuartige Bedrohungen, die in einem bestimmten Umfeld
                        erstmalig
                        erkannt werden, auch für weitere Branchen sichtbar zu machen, damit diese die eigenen
                        Betroffenheit
                        diskutieren können.</p>

                    <p style="line-height: 2; font-size:16px;font-weight: 500; font-family: sans-serif;">Damit sich die
                        Bedrohungen besser strukturieren lassen, werden diese Anhand des hier aufgeführten
                        Schalenmodells
                        gegliedert. </p>

                    <br>

                    <img style="margin-top:25px; position: relative; left: 25%;"
                         src="../static/images/Schalenmodell.png"
                         th:src="@{/images/Schalenmodell.png}">
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
</body>
</html>