<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>

    <meta charset="UTF-8">
    <title>Snapshot</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Snapshot Details</h2><br>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Fragebogen erstellt von</th>
            <th>Branche</th>
            <th>Datum</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i: ${#numbers.sequence(questionnaires.size() -1,0,-1)}">
            <td th:text="${questionnaires[i].id}"></td>
            <td th:text="${questionnaires[i].user.email}"></td>
            <td th:text="${questionnaires[i].user.branche}"></td>
            <td th:text="${questionnaires[i].date.toLocalDate().toString() + ' ' + questionnaires[i].date.toLocalTime().toString().substring(0,5)}"></td>
        </tr>
        </tbody>
    </table>
    <h2>Report</h2><br>
    <form th:object="${report}" th:action="@{/report}" method="post">
        <th:block th:each="masterScenario : ${masterScenarioList}">
            <h5 th:text="${masterScenario.name}"></h5>

            <table class="report-table">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Szeanrien</td>
                    <td></td>
                    <td>Eintrittswahrscheilichkeit</td>
                    <td>Auswirkung</td>
                    <td>Bedrohungslage</td>
                </tr>

                </thead>
                <tbody>

                <th:block th:each="scenario : ${masterScenario.scenarios}">
                    <tr>
                        <td th:text="${scenario.id}"></td>

                        <td th:text="${scenario.name}" ></td>
                        <td><!-- Button trigger modal -->
                            <button type="button" class="btn bi bi-info-circle" data-bs-toggle="modal" th:attr="data-bs-target='#infoModal'+${scenario.id}"></button>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'infoModal' + ${scenario.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel" th:text="${scenario.name}"></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" th:text="${scenario.description}">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div></td>

                        <td>
                            <select th:id="'selectProb' + ${scenario.id}" class="form-select" th:attr="${valueMap.get(scenario.id)}">
                                <div th:switch="${valueMap.get(#vars.scenario.id)[0]}">
                                    <option th:case="'none'" value="none" selected>Bitte wählen...</option>
                                    <option th:case="*" th:text="${valueMap.get(#vars.scenario.id)[0]}" selected></option>
                                </div>
                                <option th:each="probability : ${T(de.thb.webbaki.enums.Probability).values()}"
                                        th:value="${probability.value}" th:text="${probability.value}"></option>
                            </select>
                        </td>
                        <td><select th:id="'selectImp'+ ${scenario.id}" class="form-select" th:attr="name='imp['+${scenario.id}+']'">
                            <div th:switch="${valueMap.get(#vars.scenario.id)[1]}">
                                <option th:case="'none'" value="none" selected>Bitte wählen...</option>
                                <option th:case="*" th:text="${valueMap.get(#vars.scenario.id)[1]}" selected></option>
                            </div>
                            <option th:each="impact : ${T(de.thb.webbaki.enums.Impact).values()}"
                                    th:value="${impact.value}" th:text="${impact.value}"></option>
                        </select></td>
                        <td><div th:id="'noRisk'+ ${scenario.id}" class="showQuestion">keine</div>
                            <div th:id="'smallRisk'+ ${scenario.id}" class="showQuestion">geringe</div>
                            <div th:id="'increasedRisk'+ ${scenario.id}" class="showQuestion">erhoehte</div>
                            <div th:id="'highRisk'+ ${scenario.id}" class="showQuestion">hohe</div>
                            <div th:id="'veryHighRisk'+ ${scenario.id}" class="showQuestion">sehr hohe</div>
                        </td>

                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn bi bi-card-text" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"></button>
                                <textarea class="form-control dropdown-menu" id="exampleDropdownFormEmail2" rows="3" cols="6" placeholder=" Kommentar..."></textarea>

                            </div>
                        </td>
                    </tr>

                </th:block>
                <tfoot>
                </tfoot>

            </table>

        </th:block>
    </form>
</div>
</body>
</html>